<div>
  <%= link_to "HOME", "home" %>
  <%= link_to "프로필", "profile" %>
  <%= link_to "개발결과물", "development_results" %>
  <%= link_to "로그아웃", {:controller=>:sessions, :action=>:logout} %>

  개발자 페이지
</div>
