/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree
 */

$global_width : 960px;
$global_padding : 10px;
$light_yellow : #ee6;

html, body
{
	padding : 0;
	margin : 0;
	width : 100%;
	height : 100%;
}

body
{
	font-family : "NanumGothic" "Malgun Gothic" sans-serif;
	color : #fff;
	background: #6c1023;
}

h1, h2, h3, h4, h5, h6, div, span, input
{
	margin: 0;
	padding: 0;
}

ul
{
	margin: 0;
	list-style: none;
	padding: 0;
}

a, .pseudo_link
{
	text-decoration: none;
	color: $light_yellow;
	cursor: pointer;
}

a:hover, .pseudo_link:hover
{
	color: #eee;
	text-decoration: underline;
}

hr
{
	border: none;
	border-top: 1px solid #ccc;
}

input, button, select
{
	font-size: 14px;
	color: #fff;
	background: rgba(0, 0, 0, 0.4);
	height: 20px;
	border: 2px solid rgba(255,255,255,0.4);
}

.box
{
	position: absolute;
	margin: 0 auto;
	background:rgba(0, 0, 0, 0.4);
	font-size: 16px;
	line-height: 24px;
}

.small_msg
{
	font-size: 14px;
	padding: 10px 0;
	color: #f66;
	text-align: center;
}

.fullsize_box
{
	position: relative !important;
	padding: $global_padding;
	margin-bottom: 10px;
	margin-top: 10px;
	width: $global_width - $global_padding * 2;
}

.center_div
{
	margin: 0 auto;
	width: 0;
	height: 100%;
}

#content
{
	position: relative;
	height: 100%;
	overflow: hidden;
}

#main
{
	height: relative;
	bottom: 0px;
	overflow: scroll;
}

#background_holder
{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1;
}

.background
{
	display: block;
	width: 100%;
	min-width: 960px;
	overflow: hidden;
}

.heading
{
	height: 80px;
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
}

#heading_logo
{
	position: absolute;
	background: image-url("EBSlogo.png") no-repeat center top;
}

#main
{
	position: absolute;
	top: 80px;
	bottom: 0px;
	width: 100%;
	z-index: 1;
}

#mainmenu
{
	color: #ff6;
	background: rgba(0, 0, 0, 0.5);
	text-align: center;
	padding: 10px 0;
	width: 100%;
}

#mainmenu ul
{
	list-style: none;
	display: inline;
	padding: 0;
}

#mainmenu ul li
{
	display: inline-block;
	padding: 0 15px;
}