// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$signup_box_padding : 0.625em;
$signup_box_width : 25em;

.user_box
{
}

.signup_errors
{
	padding: 0;
	margin: 0;
}

.signup_errors li
{
	padding: 0 !important;
	line-height: 1.25em;
}

.user_box_roll
{
	font-size: 75%;
}

.user_box_info
{
	margin-bottom: 0;
	padding-bottom: 0;
}

.user_box_info li span
{
	position: absolute;
	display: inline-block;
	width: 70%;
	right: 0;
}

#signup_box
{
	padding: $signup_box_padding;
	top: 0.625em;
	width: $signup_box_width - $signup_box_padding * 2;
	margin-left: - $signup_box_width / 2;
}

#signup_box input, #signup_box button, #signup_box select
{
	top: 0.325em;
	margin-top: 0.125em;
	position: absolute;
	right: 0;
	width: 12.5em;
}

#signup_box ul
{
	position: relative;
	width: 100%;
}

#signup_box_buttons
{
	height: 1.875em;
}

#signup_box li
{
	position: relative;
	padding: 0.3125em 0;
}

#signup_box_buttons input, #signup_box button
{
	top: 0;
	width: 48%;
	position: absolute;
	height: 1.875em;
}

#signup_box button
{
	left: 0;
	right: auto;
}