// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$signup_box_padding : 10px;
$signup_box_width : 400px;

.user_box
{
}

.signup_errors
{
	padding: 0;
	margin: 0;
}

.signup_errors li
{
	padding: 0 !important;
	line-height: 20px;
}

.user_box_roll
{
	font-size: 75%;
}

.user_box_info
{
	margin-bottom: 0;
	padding-bottom: 0;
}

.user_box_info li span
{
	position: absolute;
	display: inline-block;
	width: 820px;
	right: 0;
}

#signup_box
{
	padding: $signup_box_padding;
	top: 10px;
	width: $signup_box_width - $signup_box_padding * 2;
	margin-left: - $signup_box_width / 2;
}

#signup_box input, #signup_box button, #signup_box select
{
	top: 0;
	position: absolute;
	right: 0;
	width: 200px;
}

#signup_box ul
{
	position: relative;
	width: 100%;
}

#signup_box_buttons
{
	height: 30px;
}

#signup_box li
{
	position: relative;
	padding: 5px 0;
}

#signup_box_buttons input, #signup_box button
{
	top: 0;
	width: 188px;
	position: absolute;
	height: 30px;
}

#signup_box button
{
	left: 0;
	right: auto;
}